main{
    text-align: center;
}

form{
    justify-content: center;
}

#dropZone {
    width: 300px;
    height: 300px;
    border: 2px dashed black;

    margin: auto;
    margin-bottom: 3vh;
}

#dropZone img {
    max-width: 100%;
    max-height: 100%;
}

section{
    justify-content: center;
}

.textArea{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 2vh;
}

.textArea section{
    flex-basis: 45%;
    flex-grow: 1;
}

h2 img{
    max-width: 20%;
}

input[type="text"], input[type="number"]{
    max-width: 30%;
    padding: 1vh;
    text-align: center;

}

.selectbox, .tracks{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.selectbox label{
    flex-basis: 100%;
}


select, #titre{
    max-width: 30%;
    padding: 1vh;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 1;

    margin: 2vh 1vw 2vh 1vw;
}

button{
    margin-top: 2vh;
    background-color: black;
    color: white;
    padding: 1vh 3vw 1vh 3vw;
    vertical-align: top;
}

button img{
    max-height: 2vh;
}

button, select, input[type="text"], input[type="number"]{
    border-radius: 2vh;
}

.validation{
    background-color: rgb(16, 181, 21);
    border-radius: 10px;
    border: none;
    font-size: larger;
    padding: 2vh 2vw 2vh 2vw;
}
